.sidenav {
   width: 190px;
}

.sidenav.affix {
   top: 40px;
   margin: 30px 0 0;
}

@media (min-width: 1200px) {
   .sidenav {
      width: 240px;
   }
}

@media (min-width: 768px) AND (max-width: 980px) {
   body {
      padding-top: 0;
   }

   .sidenav.affix {
      top: 0;
      margin: 30px 0 0;
   }
}