{% extends "we/hero.html" %}
{% load staticfiles %}

{% block title %}网络电视{% endblock %}

{% block hero_title %}We - 网络电视{% endblock %}
{% block hero_subtitle %}校园网络电视现在开播！{% endblock %}

{% block content %}
  <div class="container">
    <p class="alert alert-warning"><strong>免责声明：</strong>We 没有在任何其他位置发布链接到网络电视的脚本、软件及页面，本页面为惟一发布方式。如使用第三方方式导致的不良后果，We 不承担任何责任。
    <section>
      <header class="page-header">
        <h3>说明</h3>
      </header>
      <p>本站所有频道均为北京邮电大学采集的歌华有线和东北大学采集的地面数字电视信号，并由东北大学传送至 We 。目前 We 完整转播了全部 86 套节目，其中高清频道 24 套，标清频道 62 套。
      <p>现在本系统为试运行阶段，期间所有频道均可免费自由观看。
    </section>
    <section>
      <header class="page-header">
        <h3>频道列表</h3>
      </header>
      <ul>
  {% for group in channels %}
        <li>
          <strong>{{ group.name }}：</strong>
    {% for channel in group.channels %}
          <a href="{% url 'iptv:tv' %}?channel={{ channel.channel|urlencode }}">{% if channel.point.0.hd %}<span class="glyphicon glyphicon-hd-video"></span>{% endif %}{% if channel.point.0.sound == 6 %}<span class="glyphicon glyphicon-sound-5-1"></span>{% endif %}{{ channel.name }}</a>{% if not forloop.last %}、{% endif %}
    {% endfor %}
  {% endfor %}
      </ul>
    </section>
    <section>
      <header class="page-header">
        <h3>往期节目</h3>
      </header>
      <ul>
        <li>
          <strong>2014/15赛季欧冠决赛：</strong><a href="{% url 'file:detail' 'DSPteB_DS1Kd7buNokQAaw' %}">H.264</a>、<a href="{% url 'file:detail' 'Jt8mXiOVTE-x83R2LqktuA' %}">H.265</a>
        <li>
          <a href="{% url 'iptv:voice_of_china_2014' %}">2014 中国好声音</a>
        <li>
          <a href="{% url 'iptv:worldcup_2014' %}">2014 巴西世界杯</a>
      </ul>
    </section>
    <section>
      <header class="page-header">
        <h3>常见问题</h3>
      </header>
      <ol>
        <li>
          <p><strong>哪些播放器可以播放？</strong>
          <p>目前 PC 上经过测试的只有 VLC 播放器，iOS 系统及部分 android 系统可直接播放。
        <li>
          <p><strong>为什么点击在线播放按钮后没有播放？</strong>
          <p>由于 PC 上的 VLC 播放器没有通过浏览器插件及后台服务等手段对浏览器和剪贴版进行监视，因此需要手动进行以下操作方可播放：
          <ol>
            <li>在页面中的频道按钮上右击选择<strong>「复制链接地址」</strong>一类的选项；
            <li>打开 VLC 播放器，按键盘组合键<code>ctrl</code>+<code>N</code>；
            <li>在弹出的窗口中粘贴后点击<strong>「播放」</strong>按钮即可观看。
          </ol>
        <li>
          <p><strong>为什么有时播放节目会卡顿或无法播放？</strong>
          <p>由于节目是由北京邮电大学实时采集，又经由东北大学转发，其中任何环境出现问题都会造成节目信号卡顿甚至中断，出现此类问题只需等待一段时间或直接与 We 联系即可。
        <li>
          <p><strong>喜欢看一档节目，可以帮助录制吗？</strong>
          <p>可以的，请尽早与 We 联系，以方便安排录制计划。在不与其他录制计划冲突并且信号稳定的前提下，我们将尽力完整录制。
      </ol>
    </section>
  </div>
{% endblock %}
