{% extends "we/sidenav_hero.html" %}

{% block title %}更多服务 - 首页{% endblock %}

{% block nav_more %}
{% include "www/include/nav_more.html" %}
{% endblock %}

{% block hero_title %}We · Cloud云技术小组{% endblock %}
{% block hero_subtitle %}网站仍在开发中，敬请期待……{% endblock %}

{% block nav_list %}
                    {% for service in services %}
                        <li><a href="#{{ service.key }}"><i class="glyphicon glyphicon-chevron-right"></i>{{ service.title }}</a></li>
                    {% endfor %}
{% endblock %}

{% block content %}
                {% for service in services %}
                    <section id="{{ service.key }}">
                        <header class="page-header">
                            <h1>{{ service.title }} <small>{{ service.subtitle }}</small></h1>
                        </header>
{% autoescape off %}{{ service.content }}{% endautoescape %}
                    </section>
                {% endfor %}
{% endblock %}
