.sidenav {
   width: 190px;
}

.sidenav.affix {
   top: 50px;
}

@media (min-width: 1200px) {
   .sidenav {
      width: 240px;
   }
}

@media (min-width: 768px) AND (max-width: 980px) {
   body {
      padding-top: 0;
   }

   .sidenav {
      width: 136px;
   }
}
