body {
   padding-top: 70px;
   text-shadow: 1px 1px 2px #CCC;
}

section {
   padding-top: 30px;
}

section p {
   text-indent: 2em;
}

.table th, .table td {
   text-align: center;
}

.blocks div div.col-md-4 h2 {
   text-align: center;
}
