{% extends "we/base.html" %}
{% load staticfiles %}

{% block title %}下载正版授权软件{% endblock %}

{% block extra_css %}
  <link href="{% static 'genuine/css/we-genuine.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
      <section>
        <div id="navigation" class="panel-group col-md-3">
  {% for catalog in catalogs %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#navigation" href="#catalog{{ forloop.counter }}">{{ catalog.name }}</a></h4>
            </div>
            <div id="catalog{{ forloop.counter }}" class="panel-collapse collapse{% if catalog.active %} in{% endif %}">
              <div class="panel-body">
    {% for product in catalog.products %}
                <a href="?product={{ product.id }}"><i class="glyphicon glyphicon-chevron-right"></i>{{ product.name }}</a><br>
    {% endfor %}
              </div>
            </div>
          </div>
  {% endfor %}
        </div>
        <div class="col-md-9">
  {% for version in versions %}
          <div id="{{ version.id }}" class="page-header">
            <h3>{{ version.name }}</h3>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>版本
                <th colspan="4">下载链接
            <tbody>
    {% for edition in version.editions %}
              <tr>
                <td>{{ edition.name|safe }}
      {% for item in edition.items %}
                <td
                {% if edition.items|length == 1 %}
                  colspan="4"
                {% elif edition.items|length == 2 %}
                  colspan="2"
                {% endif %}
                ><a href="{% url 'file:detail' item.file %}">{{ item.name }}</a>
      {% endfor %}
    {% endfor %}
          </table>
  {% endfor %}
        </div>
      </section>
    </div>
{% endblock %}
