{% extends "we/hero.html" %}
{% load staticfiles %}

{% block title %}正版授权软件{% endblock %}

{% block extra_css %}
  <link href="{% static 'dreamspark/css/we-dreamspark.css' %}" rel="stylesheet" />
{% endblock %}

{% block hero_title %}We - 正版授权软件{% endblock %}
{% block hero_subtitle %}使用正版授权软件，尽享学习工作乐趣{% endblock %}

{% block content %}
  <div class="container">
    <p class="alert alert-info"><strong>提示：</strong>你可以点击<a href="{% url 'genuine:download' %}"><span class="glyphicon glyphicon-link"></span>这里</a>从校园网高速下载微软 DreamSpark 计划中部分及赛尔校园先锋全部正版授权软件。
    <section>
      <header class="page-header">
        <h2>微软 DreamSpark 计划</h2>
      </header>
      <p>DreamSpark 是一项 Microsoft 计划，通过允许出于学习、教学和研究的目的来访问 Microsoft 软件，从而为技术教育提供支持。
      <p>学院教学支持与实验中心购买了最高级别的 DreamSpark 计划，学院全体教职员工及具有统招学历的在校学生均可<strong>免费</strong>获得该计划内全部软件的正版授权。
      <header class="page-header">
        <h3>使用方法</h3>
      </header>
      <ol>
        <li>有互联网访问权限的用户，点击<a href="http://e5.onthehub.com/d.ashx?s=jlg1p270bi" target="_blank"><span class="glyphicon glyphicon-new-window"></span>这里</a>访问 DreamSpark 商店（境外服务器，访问速度很慢）；
        <li>点击<strong>「开始购物」</strong>链接后，进入登录页面；
        <li>使用学院开设的邮箱进行登录；
        <li>选择需要的产品，加入购物车进行结算（免费）；
        <li>接受许可协议后，即可获得相应产品的密钥。
      </ol>
    </section>
    <section>
      <header class="page-header">
        <h2>赛尔校园先锋</h2>
      </header>
      <p>赛尔校园先锋是赛尔网络旗下的面向中国高校师生的教育类商品特惠购买平台，在这里，所有中国高校师生都可以以特惠价格购买微软、Adobe、Apple 等国际著名公司提供的正版软件、硬件、培训、技能认证、图书等特惠商品，并享受高品质的下载及售后服务。
      <header class="page-header">
        <h3>使用方法</h3>
      </header>
      <ol>
        <li>有互联网访问权限的用户，点击<a href="http://shop.edu.cn/" target="_blank"><span class="glyphicon glyphicon-new-window"></span>这里</a>访问赛尔校园先锋网站；
        <li>免费注册账户，登录邮箱查收激活邮件并激活账户；
        <li>在激活账户页面中，点击<strong>「申请购买」</strong>按钮，选择合适的方式验证身份；
        <li>选择需要的产品，加入购物车进行结算。
        <li><em>为了提高成功率，请尽量使用校园有线网进行访问。</em>
      </ol>
    </section>
  </div>
{% endblock %}
