body {
   padding-top: 50px;
   text-shadow: 1px 1px 2px #CCC;
   overflow-y: scroll
}

.navbar-fixed-top-we {
    text-shadow: 1px 1px 2px #555;
    opacity: 0.95;
}

section p {
   text-indent: 2em;
}

footer {
   margin-bottom: 20px;
}

li p {
   text-indent: 0em;
}

.blocks div div.col-md-4 h2 {
   text-align: center;
}

.dropdown-we {
   visibility: hidden;
}

.qr-footer {
   float: right;
}
