<h2>500 Internal Server Error</h2>
<h3>服务器遇到了一个未曾预料的状况，导致了它无法完成对请求的处理。</h3>
<hr>
<h4>可能原因如下：</h4>
<ul>
  <li>
    <p><strong>服务器代码错误</strong></p>
    <p>We 尽力做了完整的代码测试，但是本次访问依然出现了非预期的结果。
  <li>
    <p><strong>某一结点故障</strong></p>
    <p>We 的服务器是由多个服务器结点共同联合运行，某一结点出现故障均可能导致本次访问无法继续。
</ul>
<hr>
<h4>一封包含有本次错误信息的邮件已经发送到管理员邮件中，请耐心等待管理员的修复。如果仍有疑问，可以联系我们：</h4>
<ul>
  <li><strong>E-mail：</strong><a href="mailto:we@nou.com.cn">we@nou.com.cn</a>
  <li><strong>QQ 群：</strong><a href="http://qm.qq.com/cgi-bin/qm/qr?k=72NhrSwt3Nd9SJgGeEIcP-gCh3C7k_YB" target="_blank">85949649</a>
</ul>