{% extends "we/sidenav_base.html" %}
{% load staticfiles %}

{% block title %}下载DreamSpark镜像{% endblock %}

{% block extra_css %}
  <link href="{% static 'dreamspark/css/we-dreamspark.css' %}" rel="stylesheet" />
{% endblock %}

{% block nav_list %}
          <li><a href="#windows_8_1"><i class="glyphicon glyphicon-chevron-right"></i>Windows</a>
          <li><a href="#windows_server_2012_r2"><i class="glyphicon glyphicon-chevron-right"></i>Windows Server</a>
          <li><a href="#visual_studio_2013"><i class="glyphicon glyphicon-chevron-right"></i>Visual Studio</a>
          <li><a href="#sql_server_2012"><i class="glyphicon glyphicon-chevron-right"></i>SQL Server</a>
          <li><a href="#microsoft_project_2013"><i class="glyphicon glyphicon-chevron-right"></i>Microsoft Project</a>
          <li><a href="#microsoft_visio_2013"><i class="glyphicon glyphicon-chevron-right"></i>Microsoft Visio</a>
{% endblock %}


{% block content %}
  <div class="container">
    <div id="windows_8_1" class="page-header">
      <h3>Windows 8.1</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>32 位简体中文版<th>64 位简体中文版<th>32 位英文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows 8.1 企业版（实验室用）
          <td><a href="http://file.we.neusoft.edu.cn/e4xlR6PQTkSg1dGH0_V_3w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/wxJeFi9jT4-dUVc0xLOFrg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/ESmtlaOdSQGFWFRqaRJN7w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/3Ji0jD7ORhy1W3oVp7P0rw.we">点此下载</a>
        <tr>
          <td>Windows 8.1 专业版
          <td><a href="http://file.we.neusoft.edu.cn/sQQT1oi4QS-2oJBbgpesuQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/Regv1g7FQv-pSxzCGFaT8Q.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/z19qtHFkSDG7l1KZm7rIBg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/2iNJdbPDS0KLM73p0WxLmg.we">点此下载</a>
        <tr>
          <td>Windows 8.1 企业版 Debug 版（实验室用）
          <td class="muted">无此版本
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/czWCRY-QQoG3o5p1EM_AVg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/iRrfKMw4TXGKlxgXsRFS7g.we">点此下载</a>
        <tr>
          <td>Windows 8.1 专业版 Debug 版
          <td class="muted">无此版本
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/PAJUcw_2SeymWpi3FmFcKQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/JTWTrsYhS7KQ5cQbqE8CHg.we">点此下载</a>
        <tr>
          <td>Windows 8.1 多国语言包
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/MWz_axbYSKazuHJiaNHhOw.we">32 位下载</a>
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/owg4aQbSQoObBzcFyy2aLw.we">64 位下载</a>
    </table>
    <div id="windows_8" class="page-header">
      <h3>Windows 8</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>32 位简体中文版<th>64 位简体中文版<th>32 位英文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows 8 企业版（实验室用）
          <td><a href="http://file.we.neusoft.edu.cn/4eyob5hyT7CVZj7trWSuyA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/SIxvEACjQRqXXg1vISvf6w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/RdvJIogwRm-YpwtP1Ekc5w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/tXkDJLE2T0m0L8SP1lb-Zw.we">点此下载</a>
        <tr>
          <td>Windows 8 专业版
          <td><a href="http://file.we.neusoft.edu.cn/bw1kYOiYTwCv0RaTRB2cEQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/5gb0kLZgRZeYJkt1Qh2lPA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/L56vjmCURf2ac5HPOGpYrA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/4Z72lVOcQoaAboifDobCKg.we">点此下载</a>
        <tr>
          <td>Windows 8 企业版 Debug 版（实验室用）
          <td class="muted">无此版本
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/baJMJQXLQPOWa4oab-R7Kg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/wqupJQMcRJa0Kx5hPfV1fQ.we">点此下载</a>
        <tr>
          <td>Windows 8 专业版 Debug 版
          <td class="muted">无此版本
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/hU5kkpReSASy-dr_iGnOww.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/ew_LJ8jVQIONMsm1c-stNw.we">点此下载</a>
        <tr>
          <td>Windows 8 多国语言包
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/9eaI92KjRseNlopJbCa0Ug.we">32 位下载</a>
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/CoISrqjGSdugoqd5cufihw.we">64 位下载</a>
    </table>
    <div id="windows_7" class="page-header">
      <h3>Windows 7</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>32 位简体中文版<th>64 位简体中文版<th>32 位英文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows 7 企业版（实验室用）
          <td><a href="http://file.we.neusoft.edu.cn/oaTCMV_2QkiDq9WlMEuMuw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/-r9QLCYCR6yiZElR6x-ikw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/PsNLkANpR5CQObzwwKaCLw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/OZgTyGmYRwmcINFfIAw4SQ.we">点此下载</a>
        <tr>
          <td>Windows 7 专业版
          <td><a href="http://file.we.neusoft.edu.cn/HR1nVUDNRXGt_fWrspYsqQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/ycGyXB_ARdynrkYMnQJN9g.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/rVUqHcDSSoCcym94WcdMTw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/1dQvmxbpSUWqOVNgh_r9jA.we">点此下载</a>
        <tr>
          <td>Windows 7 专业版 Debug 版
          <td class="muted">无此版本
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/Hvbw6kt5QnqrkJ6YsmSnSQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/GV764cmMTGGoOkZG6Zk7qg.we">点此下载</a>
        <tr>
          <td>Windows 7 多国语言包
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/fWtF0CQiRJSE73GFcp3O6w.we">32 位下载</a>
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/I5cocnhDTwe7sNZTYA27eA.we">64 位下载</a>
    </table>
    <div id="windows_vista" class="page-header">
      <h3>Windows Vista</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>32 位简体中文版<th>64 位简体中文版<th>32 位英文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows Vista 商业版
          <td><a href="http://file.we.neusoft.edu.cn/x8Az3rtCTRCZA0iYNS46OA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/pHCrgxr2T-uSAjJ88ES6ew.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/acAu2DG0QyaKKCBpVMhGKA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/55EDvOeCS52MTkoH_8TMoA.we">点此下载</a>
        <tr>
          <td>Windows Vista 多国语言包
          <td><a href="http://file.we.neusoft.edu.cn/_1REDtIpTVKfwMlWrfOGoA.we">32 位下载（含中文）</a>
          <td><a href="http://file.we.neusoft.edu.cn/33dHymadTeuPPbjiBw8D6Q.we">32 位下载（含英文）</a>
          <td><a href="http://file.we.neusoft.edu.cn/jIzsDT82Swmwdv0v4nG35g.we">64 位下载（含中文）</a>
          <td><a href="http://file.we.neusoft.edu.cn/a5QpFInXQYqUZUJtWQlvGw.we">64 位下载（含英文）</a>
    </table>
    <div id="windows_server_2012_r2" class="page-header">
      <h3>Windows Server 2012 R2</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>64 位简体中文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows Server 2012 R2
          <td><a href="http://file.we.neusoft.edu.cn/QwKpr-KeRg6Wvsq5t96-yA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/EK7puHbmS_iECFm31dA6Eg.we">点此下载</a>
        <tr>
          <td>Windows Server 2012 R2 Debug 版
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/Gl7GYO-YSBexult1H-eIpA.we">点此下载</a>
        <tr>
          <td>Windows Server 2012 R2 多国语言包
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/GffD9GAoRaetJQmU9Nt1Ng.we">点此下载</a>
    </table>
    <div id="windows_server_2012" class="page-header">
      <h3>Windows Server 2012</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>64 位简体中文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows Server 2012
          <td><a href="http://file.we.neusoft.edu.cn/2z0UXjviSCO1O_Q2G_9WsA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/tuziRSkzRTibhZewleRNAw.we">点此下载</a>
        <tr>
          <td>Windows Server 2012 Debug 版
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/aB1E4t5QTraeUNCFrxni1w.we">点此下载</a>
        <tr>
          <td>Windows Server 2012 多国语言包
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/AB4Jb51ySgeog7kJzEgZiQ.we">点此下载</a>
    </table>
    <div id="windows_server_2008_r2" class="page-header">
      <h3>Windows Server 2008 R2</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>64 位简体中文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows Server 2008 R2
          <td><a href="http://file.we.neusoft.edu.cn/5lEeFvkFQlSu6ikP86rGpw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/kwzQIPYERSiIdfQaF2DrMQ.we">点此下载</a>
        <tr>
          <td>Windows Server 2008 R2 Debug 版
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/EJ6qmMKwTnq8FGbloTLRog.we">点此下载</a>
        <tr>
          <td>Windows Server 2008 R2 多国语言包
          <td colspan="2"><a href="http://file.we.neusoft.edu.cn/vealzBQ3T0qi96143ns6Tw.we">点此下载</a>
    </table>
    <div id="windows_server_2008" class="page-header">
      <h3>Windows Server 2008</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>32 位简体中文版<th>64 位简体中文版<th>32 位英文版<th>64 位英文版
      </thead>
      <tbody>
        <tr>
          <td>Windows Server 2008
          <td><a href="http://file.we.neusoft.edu.cn/88hfjs7ZSvWVkMjglrsztQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/q2ewHb2ASmqe1uzp2wP2rQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/nLM7YAo0TUiOp86ZWAHuQQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/ZwmBrF5gSAqEKc9BJE_3NQ.we">点此下载</a>
        <tr>
          <td>Windows Server 2008 （无 Hyper-V ）
          <td><a href="http://file.we.neusoft.edu.cn/jvQbqlIbTz-2KcFPOC-D_w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/DRfz_-rtRa24NBvdpPUL7Q.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/7vkdW04wTG2Ni9pwxPHGCg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/IxddptJDRnCwKxStcTHfAw.we">点此下载</a>
        <tr>
          <td>Windows Server 2008 Web 版
          <td><a href="http://file.we.neusoft.edu.cn/gsZP9LQYRoqw2NRFPzSE-w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/SOlyCC-IR8WdwqlaTGXx0Q.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/gvioRm-qQnSRbU5ows_8xA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/g8njnwVYRu6aNezpR5W6yA.we">点此下载</a>
        <tr>
          <td>Windows Server 2008 Debug 版
          <td class="muted">无此版本
          <td class="muted">无此版本
          <td><a href="http://file.we.neusoft.edu.cn/B-q7GDyBS-qiDJmoemJj2Q.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/g_ixwfhmTBGT1rrZIbnsUA.we">点此下载</a>
        <tr>
          <td>Windows Server 2008 多国语言包
          <td><a href="http://file.we.neusoft.edu.cn/HWWdNGwPRMSGHu96zOAG2w.we">32 位下载（含中文）</a>
          <td><a href="http://file.we.neusoft.edu.cn/wsfYyzOeQWGuujHMdCIQpQ.we">32 位下载（含英文）</a>
          <td><a href="http://file.we.neusoft.edu.cn/6ahb0TSMQc2JO-DRErLJ_g.we">64 位下载（含中文）</a>
          <td><a href="http://file.we.neusoft.edu.cn/xCMcZrlgSD6vhHU68gwRCA.we">64 位下载（含英文）</a>
    </table>
    <div id="visual_studio_2013" class="page-header">
      <h3>Visual Studio 2013</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Visual Studio 2013 旗舰版
          <td><a href="http://file.we.neusoft.edu.cn/7cajLggWQLGwjuKTSxNUow.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/tBm0mZVSRl6ZoZZ5-HRSsA.we">点此下载</a>
        <tr>
          <td>Team Foundation Server 2013
          <td><a href="http://file.we.neusoft.edu.cn/JUe7-RSFQfud7bpP5QVbZw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/gTDUovAXQv6NVW-rR3j4wQ.we">点此下载</a>
    </table>
    <div id="visual_studio_2012" class="page-header">
      <h3>Visual Studio 2012</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Visual Studio 2012 旗舰版
          <td><a href="http://file.we.neusoft.edu.cn/NWOMcR45SnyzOlevvFfDOw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/SEGPAYY2QmqD3HmB4_M4_w.we">点此下载</a>
        <tr>
          <td>Team Foundation Server 2012
          <td><a href="http://file.we.neusoft.edu.cn/J_U6NvXGQJisToKju6OLtw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/QVLQ4Fd2TveOzC95uWtYLg.we">点此下载</a>
        <tr>
          <td>Windows Phone SDK 8.0
          <td><a href="http://file.we.neusoft.edu.cn/iznZRi_DTSS9ZVD32a95bQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/ICpk0tAqRa6JHqGklkP_4g.we">点此下载</a>
    </table>
    <div id="visual_studio_2010" class="page-header">
      <h3>Visual Studio 2010</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Visual Studio 2010 旗舰版
          <td><a href="http://file.we.neusoft.edu.cn/fH5l8B_pRsmPcdeTrNrxmg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/DzPXskX5SdCPJ6Mmju789A.we">点此下载</a>
        <tr>
          <td>Team Foundation Server 2010
          <td><a href="http://file.we.neusoft.edu.cn/Nwhn39z3QbuOsSrNEnypQQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/cH0yup7yQa2X0q-HxS5zTQ.we">点此下载</a>
    </table>
    <div id="visual_studio_2008" class="page-header">
      <h3>Visual Studio 2008</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Visual Studio 2008 团队套装
          <td><a href="http://file.we.neusoft.edu.cn/R_uzjOXgSu2Qk4hFm7KLWQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/e2LJeI7OQauMCJBtj13buA.we">点此下载</a>
        <tr>
          <td>Team Foundation Server 2008
          <td><a href="http://file.we.neusoft.edu.cn/FFs0mWfKSyOFrvzveJD2CA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/kFJ3qPooTG-9NzBPgufFQA.we">点此下载</a>
    </table>
    <div id="sql_server_2012" class="page-header">
      <h3>SQL Server 2012</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>SQL Server 2012 企业版
          <td><a href="http://file.we.neusoft.edu.cn/GowLYpcKREeI-697rN8fiQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/wiD04_f-TUONNr0V3vKbKg.we">点此下载</a>
        <tr>
          <td>SQL Server 2012 开发版
          <td><a href="http://file.we.neusoft.edu.cn/wHtrm44XT5-7rg2wflHZLQ.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/y8e8_AcpSRGcfqBvlVMdIQ.we">点此下载</a>
    </table>
    <div id="sql_server_2008_r2" class="page-header">
      <h3>SQL Server 2008 R2</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>SQL Server 2008 R2 企业版
          <td><a href="http://file.we.neusoft.edu.cn/apvALvMRQhmEQs20V7d-Ug.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/39N9x2IPTWulDgFcje9aVg.we">点此下载</a>
        <tr>
          <td>SQL Server 2008 R2 开发版
          <td><a href="http://file.we.neusoft.edu.cn/mPW2RXjLT6uRig2guk5aYw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/7HzqWsc7S6-LkMIY2vfjLw.we">点此下载</a>
    </table>
    <div id="sql_server_2008" class="page-header">
      <h3>SQL Server 2008</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>SQL Server 2008 企业版
          <td><a href="http://file.we.neusoft.edu.cn/CbyMWqjZQU-Oi6ma1jxOfg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/uQ-w1TCuRIKUAiqzKP4P8A.we">点此下载</a>
        <tr>
          <td>SQL Server 2008 开发版
          <td><a href="http://file.we.neusoft.edu.cn/fM8DaywPTTyhvWbLUJer-w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/2KG0aeK5QTeW2xepz7VE0g.we">点此下载</a>
    </table>
    <div id="sql_server_2005" class="page-header">
      <h3>SQL Server 2005</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>SQL Server 2005 开发版
          <td><a href="http://file.we.neusoft.edu.cn/v0OzaUOcTU6nE8JSF5coYA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/IpWEKg_FRgSekRiLuwaMzQ.we">点此下载</a>
    </table>
    <div id="microsoft_project_2013" class="page-header">
      <h3>Microsoft Project 2013</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Microsoft Project 2013
          <td><a href="http://file.we.neusoft.edu.cn/xg3UI08wQDm4Fa9BHjK4NA.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/d_Hx3t7jSsqVuvQCs4_MmA.we">点此下载</a>
    </table>
    <div id="microsoft_project_2010" class="page-header">
      <h3>Microsoft Project 2010</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Microsoft Project 2010
          <td><a href="http://file.we.neusoft.edu.cn/6fpnqBtJTvCICGJk9hlJ0Q.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/2HG1kf7BTS-Uk3DstxkWQw.we">点此下载</a>
    </table>
    <div id="microsoft_project_2007" class="page-header">
      <h3>Microsoft Project 2007</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Microsoft Project 2007
          <td><a href="http://file.we.neusoft.edu.cn/v7LyLXsSQ6KPcwkc0Vb3Sw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/AS5KrkwZRr-Y513_RioXdA.we">点此下载</a>
    </table>
    <div id="microsoft_visio_2013" class="page-header">
      <h3>Microsoft Visio 2013</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Microsoft Visio 2013
          <td><a href="http://file.we.neusoft.edu.cn/EO8CsHM5Q8SNT5O_l3ztaw.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/gfZG_V9wRUa_OSfmjR9NrQ.we">点此下载</a>
    </table>
    <div id="microsoft_visio_2010" class="page-header">
      <h3>Microsoft Visio 2010</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Microsoft Visio 2010
          <td><a href="http://file.we.neusoft.edu.cn/OtANO0ruR_6PHphwg6FY7w.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/7gw8Nkd3TIibmJM5LJ3udg.we">点此下载</a>
    </table>
    <div id="microsoft_visio_2007" class="page-header">
      <h3>Microsoft Visio 2007</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr><th>软件版本<th>简体中文版<th>英文版
      </thead>
      <tbody>
        <tr>
          <td>Microsoft Visio 2007
          <td><a href="http://file.we.neusoft.edu.cn/Ns0shmCVSp-daHgu-e6Xmg.we">点此下载</a>
          <td><a href="http://file.we.neusoft.edu.cn/oq2eMX6BQN2_UNYkYlJXXg.we">点此下载</a>
    </table>
  </div>
{% endblock %}
