{% extends "we/hero.html" %}
{% load staticfiles %}

{% block title %}DreamSpark镜像{% endblock %}

{% block extra_css %}
  <link href="{% static 'dreamspark/css/we-dreamspark.css' %}" rel="stylesheet" />
{% endblock %}

{% block hero_title %}We - DreamSpark镜像{% endblock %}
{% block hero_subtitle %}使用微软软件正版授权——安全、稳定、声誉！{% endblock %}

{% block content %}
  <div class="container">
    <h3>Windows</h3>
    <ul class="nav nav-pills">
      <li><a href="{% url 'dreamspark:download' %}#windows">Windows 8.1</a>
      <li><a href="{% url 'dreamspark:download' %}#windows">Windows 8</a>
      <li><a href="{% url 'dreamspark:download' %}#windows">Windows 7</a>
      <li><a href="{% url 'dreamspark:download' %}#windows_vista">Windows Vista</a>
    </ul>
    <h3>Windows Server</h3>
    <ul class="nav nav-pills">
      <li><a href="{% url 'dreamspark:download' %}#windows_server">Windows Server 2012 R2</a>
      <li><a href="{% url 'dreamspark:download' %}#windows_server">Windows Server 2012</a>
      <li><a href="{% url 'dreamspark:download' %}#windows_server">Windows Server 2008 R2</a>
      <li><a href="{% url 'dreamspark:download' %}#windows_server_2008">Windows Server 2008</a>
    </ul>
    <h3>Visual Studio</h3>
    <ul class="nav nav-pills">
      <li><a href="{% url 'dreamspark:download' %}#visual_studio">Visual Studio 2013</a>
      <li><a href="{% url 'dreamspark:download' %}#visual_studio">Visual Studio 2012</a>
      <li><a href="{% url 'dreamspark:download' %}#visual_studio">Visual Studio 2010</a>
      <li><a href="{% url 'dreamspark:download' %}#visual_studio">Visual Studio 2008</a>
    </ul>
    <h3>SQL Server</h3>
    <ul class="nav nav-pills">
      <li><a href="{% url 'dreamspark:download' %}#sql_server">SQL Server 2012</a>
      <li><a href="{% url 'dreamspark:download' %}#sql_server">SQL Server 2008 R2</a>
      <li><a href="{% url 'dreamspark:download' %}#sql_server">SQL Server 2008</a>
      <li><a href="{% url 'dreamspark:download' %}#sql_server">SQL Server 2005</a>
    </ul>
    <h3>Microsoft Project</h3>
    <ul class="nav nav-pills">
      <li><a href="{% url 'dreamspark:download' %}#microsoft_project">Microsoft Project 2013</a>
      <li><a href="{% url 'dreamspark:download' %}#microsoft_project">Microsoft Project 2010</a>
      <li><a href="{% url 'dreamspark:download' %}#microsoft_project">Microsoft Project 2007</a>
    </ul>
    <h3>Microsoft Visio</h3>
    <ul class="nav nav-pills">
      <li><a href="{% url 'dreamspark:download' %}#microsoft_visio">Microsoft Visio 2013</a>
      <li><a href="{% url 'dreamspark:download' %}#microsoft_visio">Microsoft Visio 2010</a>
      <li><a href="{% url 'dreamspark:download' %}#microsoft_visio">Microsoft Visio 2007</a>
    </ul>
  </div>
{% endblock %}
