{% extends "we/base.html" %}
{% load staticfiles %}

{% block title %}登录DreamSpark{% endblock %}

{% block extra_css %}
  <link href="{% static 'dreamspark/css/we-dreamspark.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      <div class="col-xs-offset-1 col-xs-6 col-sm-offset-2 col-xs-6 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-4">
        <div class="panel panel-default panel-login">
          <div class="panel-heading">登录 DreamSpark</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="input-group col-xs-offset-1 col-xs-10">
                <input name="username" type="text" class="form-control" id="username" placeholder="邮箱地址" required>
              </div>
              <div class="input-group col-xs-offset-1 col-xs-10">
                <span class="input-group-addon">@</span>
                <select name="domain" class="form-control">
                  <option value="nou.com.cn">nou.com.cn</option>
                  <option value="neusoft.edu.cn">neusoft.edu.cn</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group col-xs-offset-1 col-xs-10">
                <input name="password" type="password" class="form-control" id="password" placeholder="邮箱密码" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group col-xs-offset-1 col-xs-10">
                {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
                <button type="submit" name="action" value="login" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> 登录</button>
                <button type="submit" name="action" value="cancel" class="btn btn-default">取消</button>
                <a href="http://mail.nou.com.cn/check.html" target="_blank"><button class="btn btn-link"><span class="glyphicon glyphicon-new-window"></span> 找回邮箱地址</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
